@font-face { font-family: CallingCode; src: url("../fonts/CallingCode-Regular.ttf"); }

#main {
    font-size:26px;
    color: #000000;
    text-decoration: none;
    font-family: "CallingCode";
    padding-top: 100px;

}
#main-2 {
    font-size:30px;
    color: #000000;
    text-decoration: none;
    font-family: "CallingCode";

}

#main-3 {
    font-size: 26px;
    color: #848484;
    text-decoration: none;
  }

  #main-4 {
      font-size: 26px;
      color: #000000;
      text-decoration: none;
    }

  .navbar a:hover {
    text-decoration-color: #848484;
    color: #848484;
  }

  .navbar a.active {
    background-color: #848484;
    color: #848484;
  }
.row {
    display: flex;
  }

.column {
  flex: 50%;
}

.navbar {
  display: block;
  background-color: none;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.navbar li {
  float: left;
  padding: 20px;
}

/* door 2 */

#door2 {
  display: none;
}

#past2 {
  display: none;
}

#walk2 {
  display: none;
}

#falling2 {
  display: none;
}

#mirror2 {
  display: none;
}

#swirl2 {
  display: none;
}

#inside2 {
  display: none;
}

/* Change the color of links on hover */


.wiggle {
  width: 20%;
  height: 50%;
  padding-top: 200px
}


.column-about {
  float: none;
  text-align: center;
}

.column-about-wiggle {
  float: left;
}

html {
    background:#ffffff
}

/*centering the image*/

.centerportrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.centerlandscape {
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

/* the splicing gifs*/

/*


/* no hyperlink for the images*/

a img {
  border: none;
}

area {
  outline: none;
}






#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  padding: 25px;
  margin: 150px 0;
  font-family: "CallingCode";
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: "CallingCode";
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  font-family: "CallingCode";
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: none;
  background: #f4f4f4;
  margin: 0 0 5px;
  padding: 10px;
  font-family: "CallingCode";
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  font-family: "CallingCode";
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #696969;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  font-family: "CallingCode";
}

#contact button[type="submit"]:hover {
  background: #414141;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  color: #414141;
}

:-moz-placeholder {
  color: #414141;
}

::-moz-placeholder {
  color: #414141;
}

:-ms-input-placeholder {
  color: #414141;
}
